*
{
	padding: 0em;
	margin: 0em;
}

body
{
	background-image: url("./bg.jpg");
	font-family: "Helvetica";
	padding-bottom: 30px;
}

#header
{
	position: relative;
	width: 544px;
	height: 168px;
	top: 100px;
	margin-left: 50%;
	left: -272px;;
	border: 1px solid #ccaaaa;
	border-radius: 20px;
	box-shadow: 0px 0px 30px #ffcccc;
	background-color: #ffeeee;
}

#logo
{
	position: absolute;
	top: 20px;
	width: 380px;
	height: 57px;
	left: 82px;
}

#search
{
	position: relative;
	width: 380px;
	border: 1px solid #ffcccc;
	border-radius: 8px;
	box-shadow: 0px 0px 15px #ffcccc;
	top: 90px;
	left: -190px;
	margin-left: 50%;
	height: 2em;
	background-color: #ffffff;
}

#input
{
	margin-top: 0.25em;
	margin-left: 0.9em;
	width: 320px;
	font-size: 1em;
	height: 1.5em;
	border: 0px solid #333;
	box-shadow: 0px 0px 0px #444;
	background-color: #ffffff;
}

#enter
{
	color: #ffcccc;
	float: right;
	font-size: 1.2em;
	margin-right: 0.5em;
	margin-top: 0.1em;
	text-decoration: none;
}

#enter:hover
{
	color: #ffaaaa;
}

#label
{
	position: relative;
	margin-top: 1em;
	font-size: 0.8em;
	text-align: center;
	color: #ff8888;
}

#content
{
	position: relative;
	width: 544px;
	height: 400px;
	top: 80px;
	margin-left: 50%;
	margin-bottom: 20px;
	left: -272px;
	border: 1px solid #ccaaaa;
	border-radius: 20px;
	box-shadow: 0px 0px 30px #ffcccc;
	background-color: #ffeeee;
	display: none;
}